{% extends 'main.html' %}
{% block title %}Main{% endblock %}
{% block body %}
<div>
    <img src="https://media.istockphoto.com/id/1325421270/photo/businessman-touching-to-virtual-screen-with-infographic-and-hr-wording-human-development-and.jpg?s=612x612&w=0&k=20&c=HPSf2bapcyGuh8QON-TZPfPkA65Xr7oTVzOl3q4PQao="
        alt="hrms" width="100%" height="350px">
</div>
<div class="card col-md-8 offset-md-2 mt-2">
    <div class="card-header" align="center">
        <h3>HRMS</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3">

        <div class="container col-md-12">
            <p><strong>An integrated Human Resource Management System (HRMS) is a transformative tool that
                    centralizes essential information, making it accessible to employees through a single login.
                    This consolidation includes crucial details such as training status, payroll data, and leave
                    dates. By unifying these aspects, the system streamlines various HR processes, significantly
                    enhancing efficiency and reducing the administrative burden on both employees and HR personnel.
                    <div> </div>
                    Employees benefit immensely from this integrated approach. With all their information available
                    in one place, they can easily access and manage their training schedules, view their payroll
                    details, and check their leave balances without navigating multiple platforms or systems. This
                    convenience translates to considerable time savings, allowing employees to focus more on their
                    core responsibilities and less on administrative tasks.

                </strong></p>
        </div>
        </div>
    </div>
</div>

{% endblock %}